*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

body {
  background: #003060;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: ease-in-out 1500ms;
  scale: 90%;
}
.wrapper {
  height: 70vh;
  width: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.clock {
  background-color: rgba(255, 255, 255);
  border-radius: 50%;
  border: 20px solid #603000;
  box-shadow: 3px 3px 5px;
  position: absolute;
  z-index: 4;
  transition: ease-in-out 1500ms;
}
@media (min-width: 681px) {
  .clock {
    width: 50vh;
    height: 50vh;
  }
}
@media (max-width: 680px) {
  .clock {
    width: 25vh;
    height: 25vh;
  }
}
.clock .number {
  --rotation: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  transform: rotate(var(--rotation));
  font-size: 2rem;
  font-weight: bold;
}

@media (min-width: 681px) {
  .clock .number {
    font-size: 3rem;
  }
}
@media (max-width: 680px) {
  .clock .number {
    font-size: 1.8rem;
  }
}

.clock .number1 {
  --rotation: 30deg;
}
.clock .number2 {
  --rotation: 60deg;
}
.clock .number3 {
  --rotation: 90deg;
}
.clock .number4 {
  --rotation: 120deg;
}
.clock .number5 {
  --rotation: 150deg;
}
.clock .number6 {
  --rotation: 180deg;
}
.clock .number7 {
  --rotation: 210deg;
}
.clock .number8 {
  --rotation: 240deg;
}
.clock .number9 {
  --rotation: 270deg;
}
.clock .number10 {
  --rotation: 300deg;
}
.clock .number11 {
  --rotation: 330deg;
}

.clock .hand {
  --rotation: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  background-color: black;
  border: 1px solid white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform-origin: bottom;
  z-index: 10;
  transform: translateX(-50%) rotate(calc(var(--rotation) * 1deg));
}
.clock::after {
  content: "";
  position: absolute;
  background-color: black;
  z-index: 11;
  width: 15px;
  height: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.clock .hand.second {
  width: 3px;
  height: 45%;
  background-color: red;
}
.clock .hand.minute {
  width: 8px;
  height: 40%;
  background-color: black;
}
.clock .hand.hour {
  width: 10px;
  height: 35%;
  background-color: black;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layer1 {
  width: 0vh;
  height: 0vh;
  border-radius: 50%;
  z-index: 2;
  transition: ease-in-out 1500ms;
}
.layer2 {
  width: 0vh;
  height: 0vh;
  background-color: #003060;
  border-radius: 50%;
  border: 2.5px solid black;
  position: absolute;
  z-index: 3;
  transition: ease-in-out 1500ms;
}
.color-buttons {
  --rotation: 0;
  border-radius: 50%;
  position: absolute;
  border: none;
  width: inherit;
  height: inherit;
  border: 2.5px solid black;
  z-index: 3;
  -webkit-clip-path: polygon(50% 50%, 35% 0, 65% 0);
  clip-path: polygon(50% 50%, 35% 0, 65% 0);
  transform: rotate(var(--rotation));
}
#button1 {
  background-color: #d62976;
  --rotation: 0deg;
}
#button2 {
  background-color: #ec6453;
  --rotation: 30deg;
}
#button3 {
  background-color: #ff9636;
  --rotation: 60deg;
}
#button4 {
  background-color: #fbc740;
  --rotation: 90deg;
}
#button5 {
  background-color: #ecf87f;
  --rotation: 120deg;
}
#button6 {
  background-color: #7bc043;
  --rotation: 150deg;
}
#button7 {
  background-color: #53dfd1;
  --rotation: 180deg;
}
#button8 {
  background-color: #0381b9;
  --rotation: 210deg;
}
#button9 {
  background-color: #003060;
  --rotation: 240deg;
}
#button10 {
  background-color: #170b3b;
  --rotation: 270deg;
}
#button11 {
  background-color: #603f8b;
  --rotation: 300deg;
}
#button12 {
  background-color: #a06ab4;
  --rotation: 330deg;
}
.toggle-colors {
  position: absolute;
  border: 2px solid gray;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: transparent;
  margin-top: 40vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-box-shadow: 0 0 10px #fff;
  box-shadow: 0 0 10px #fff;
  transition: ease-in-out 1500ms;
}
@media (max-width: 680px) {
  .toggle-colors {
    margin-top: 25vh;
  }
}
.toggle-colors img {
  width: 35px;
  height: 35px;
}
#toggle-colors {
  z-index: 50;
}
#toggle-colors-background {
  width: 0px;
  height: 0px;
  z-index: 49;
  border: none;
  box-shadow: none;
  background: conic-gradient(red, yellow, lime, aqua, blue, magenta, red);
}
